body {
	// _____________________* basic main colors *_____________________ //
	--color-black: #000000;
	--color-black-rgb: 0, 0, 0;

	--color-white: #ffffff;
	--color-white-rgb: 255, 255, 255;

	--nprogress-color: #0000ff;
	--nprogress-color-rgb: 0, 0, 255;
	// ______________________________ Width ______________________________ //
	--width-wrapper: 1920px;
}
