//____________________** iransans **____________________//
@font-face {
	font-family: 'iransans';
	font-weight: 100;
	src: url('../font/iranSans/iranSans-100.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 200;
	src: url('../font/iranSans/iranSans-200.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 300;
	src: url('../font/iranSans/iranSans-300.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 400;
	src: url('../font/iranSans/iranSans-400.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 500;
	src: url('../font/iranSans/iranSans-500.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 600;
	src: url('../font/iranSans/iranSans-600.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 700;
	src: url('../font/iranSans/iranSans-700.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 800;
	src: url('../font/iranSans/iranSans-800.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 900;
	src: url('../font/iranSans/iranSans-900.ttf');
}
@font-face {
	font-family: 'iransans';
	font-weight: 1000;
	src: url('../font/iranSans/iranSans-1000.ttf');
}


//____________________** crea **____________________//
@font-face {
	font-family: 'crea';
	font-weight: 100;
	src: url('../font/cera/cera-100.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 300;
	src: url('../font/cera/cera-300.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 400;
	src: url('../font/cera/cera-400.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 500;
	src: url('../font/cera/cera-500.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 700;
	src: url('../font/cera/cera-700.otf');
}
@font-face {
	font-family: 'crea';
	font-weight: 900;
	src: url('../font/cera/cera-900.otf');
}
