*,
*::before,
*::after {
	outline: none;
	border: none;
	padding: 0;
	margin: 0;

	transition: all 0.3s ease;
	box-sizing: border-box;

	background-color: inherit;
	color: inherit;

	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;

	text-decoration: none;
	list-style: none;

	scrollbar-color: white;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 2px;
		height: 2px;

		transform: rotateX(180deg);
		-ms-transform: rotateX(180deg); /* IE 9 */
		-webkit-transform: rotateX(180deg); /* Safari and Chrome */
	}
}

body {
	background-color: white;
	color: black;

	font-family: initial;
	font-weight: 400;
	line-height: 1.5;

	min-height: 100vh;
	min-width: 100vw;

	// direction: ltr

	@media (prefers-reduced-motion: no-preference) {
		:root {
			scroll-behavior: smooth;
		}
	}
}
